<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

<body>

  <h2 th:text="#{drug}">Drug</h2>
  <form th:object="${drug}" class="form-horizontal" id="add-drug-form" method="post">
    <div class="form-group has-feedback">
      <input th:replace="~{fragments/inputField :: input (#{name}, 'name', 'text')}" />
      <div th:with="valid=${!#fields.hasErrors('price')}" th:class="${'form-group' + (valid ? '' : ' has-error')}"
        class="form-group">
        <label for="price" class="col-sm-2 control-label" th:text="#{price}">Price</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" th:field="*{price}" step="0.01" min="0" max="9999" />
          <span th:if="${valid}" class="fa fa-ok form-control-feedback" aria-hidden="true"></span>
          <th:block th:if="${!valid}">
            <span class="fa fa-remove form-control-feedback" aria-hidden="true"></span>
            <span class="help-inline" th:errors="*{price}" th:text="#{error}">Error</span>
          </th:block>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button th:with="text=${drug['new']} ? #{addDrug} : #{updateDrug}" class="btn btn-primary" type="submit"
          th:text="${text}">Add Drug</button>
      </div>
    </div>
  </form>
</body>

</html>
